@import "variables";

.form-group.required .control-label {
    &:after {
        content: ' *';
    }
}

.form-group-error {
    color: $color-error;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
}