@import "variables";
// ref: http://codepen.io/brunjo/pen/XJmbNz;

// Progress Indicator
// Bar
.progress-indicator-bar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    .progress-indicator-bar-animation {
        height: 4px;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: #ddd;
        opacity: 0;
        transition: .6s opacity;
        &:before {
            display: block;
            position: absolute;
            content: "";
            left: -200px;
            width: 200px;
            height: 4px;
            background-color: $color-progress-bar;
            animation: progress-indicator-bar-keyframes 2s linear infinite;
        }
    }
    &.loading .progress-indicator-bar-animation {
        opacity: 1;
    }
}

@keyframes progress-indicator-bar-keyframes {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}

// Progress Indicator
// Circular
.progress-indicator-circular-modal {
    background: #FFF;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    &.loading {
        opacity: 1;
        visibility: visible;
    }
}

.progress-indicator-circular-wrapper {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress-indicator-circular-modal-title {
    margin-top: 10px;
}

.spinner {
    background-image: url(../images/spinner-blue.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 7px;
    animation: circular-spin 1s steps(12) infinite;
    transform-origin: 50% 50%;
}

@keyframes circular-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}